[submodule "htmlbook"]
	path = htmlbook
	url = https://github.com/RussTedrake/htmlbook.git
[submodule "slides"]
	path = slides
	url = git@github.com:jaysonthomas/slides.git
[submodule "jlib"]
	path = jlib
	url = git@github.com:jaysonthomas/jlib.git
